
.formulario form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 25%;
  left: 45%;
  border: 5px solid rgba(255, 255, 255, 0.324);
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.51);
  gap: 16px;
  border-radius: 8px;
  font-family: var(--fonte-principal);
  margin: 0.5rem;
  padding: 2rem;

}

h2 {
  grid-column: span 2;
  padding-bottom: 1.5rem;
  color: var(--cor-laranjaescuro);
  text-align: center;
}


